.stocks{
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
 }

 .funds{
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
 }

 /* Just sample styling added. Will edit as per required. */